body {
  margin: 0;
  padding: 0;
  background-color: green;
}
/***************************************************************************/
/*                         CSS FOR LISTINGS PAGE                           */
/***************************************************************************/
/* Header title and nav stuff */
.listings-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 5px solid yellow;
}

/* navigation bar (Home, Contact, Contact Us)*/
.listings-nav {
  display: flex;
  gap: 20px;
}

/* Nav Bar Style*/
.listings-a {
  text-decoration: none;
  color: blue;
  padding: 10px;
}

/* Header title */
.listings-header-title {
  font-size: 2em;
  color: yellow;
}

/* Add box button*/
.listings-add-box-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #4d4c4c;
  cursor: pointer;
  transition: width 1s, height 1s, transform 1s;
  border: 1px solid #3333338b;
  color: white;
  font-size: large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow cause it looks cool*/
}

.plus-text {
  padding: 35%;
}
:hover.listings-add-box-button {
  transform: rotate(180deg) scale(1.06, 1.06);
  opacity: 96%;
}

/* Individual listing box */
.listings-box {
  border: 1px solid #333;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow cause it looks cool*/
  border-radius: 8px;
  display: inline-block; /* Makes the boxes line up in a row */
  text-align: center;
  background-color: #42d3568e;
  color: #333;
}

:hover.listings-box {
  background-color: #42d3556c;
  cursor: pointer;
  transform: scale(1.02, 1.02);
}
/* Box content */
.listings-box-content {
  width: 250px;
  height: 250px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* Space below the listing boxes and header*/
.listings-box-list {
  padding-top: 20px;
}

/* MODAL CSS STYLE WAS TAKEN FROM YOUTUBE VIDEO. MUST REFERENCE IN FINAL PRODUCT*/
.popup-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's above other content */
}

/* Optional overlay */
.popup-form-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.listings-box-content-header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: rgb(0, 0, 0);
  background-color: #f0f0f0c7;
  border-radius: 8px;
  padding-top: 2px;
  padding-bottom: 2px;

  align-items: center;
}

.img {
  object-fit: cover;
  width: 230px;
  height: 235px;
  margin-top: 5px;
  border-radius: 8px;
}

.listings-box-btn {
  padding: 2%;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

:hover.listings-box-btn {
  /* transform: scale(1.05, 1.05); */
  background-color: #ffffffc1;
  cursor: pointer;
}

.listings-box-content-payment {
  display: flex;
  /* padding-bottom: 50px; */
  justify-content: center;
  align-items: center;
}

.listings-box-content-description {
  display: flex;
  /* padding-bottom: 50px; */
  justify-content: center;
  align-items: center;
}

.return-home-btn {
  padding: 3%;
  background-color: #c0bcbc68;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-color: #333;
}

:hover.return-home-btn {
  transform: scale(1.05, 1.05);
  cursor: pointer;
  color: #f0f0f0;
  background-color: rgba(78, 78, 78, 0.555);
}

.Listing-type-title {
  text-align: center;
  padding: 3%;
  background-color: #c2c2c273;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  margin-top: 15px;
  border-radius: 8px;
}
