.home-wrapper {
  color: black;
  display: flex;
  flex-direction: column;
  /* padding: 10rem; */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* min-width: 100vh; */
}

.home-wrapper .home-title {
  color: green;
  background-color: thistle;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  flex-direction: row;
  width: 700px;
  min-height: 10vh;
}

.home-wrapper .home-username {
  background-color: white;
  min-height: 5vh;
}

.home-wrapper .home-main {
  /* display: flex; */
  /* padding: 10%; */
  /* width: 75%; */
  background-color: aquamarine;
  min-height: 100vh;
}

.home-wrapper .home-main .navigation {
  padding-right: 10%;
  padding-left: 10%;
  width: 25%;
  float: left;
  background-color: tomato;
  min-height: 100vh;
}

.home-wrapper .home-main .main-content {
  padding-left: 50%;
  height: auto;
  background-color: antiquewhite;
  display: block;
  /* flex-direction: row; */
  width: 100%;
  min-height: 100vh;
}

.home-wrapper .home-footer {
  background-color: cadetblue;
  min-height: 10vh;
}
