body {
  margin: 0;
  padding: 0;
  background-color: green;
}

/* Same as listings container*/
.profile-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 5px solid yellow;
}

/* Same as listings header title*/
.profile-header-title {
  font-size: 2em;
  color: yellow;
}

/* Same as listings nav bar*/
.profile-nav {
  display: flex;
  gap: 20px;
}

/* Same as listings nav items*/
.profile-a {
  text-decoration: none;
  color: blue;
  padding: 10px;
}

.profile-personal-information {
  display: flex;
  /* justify-content: space-between;  */
  align-items: center;
  padding: 0 20px;
  padding-top: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff95;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 350px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}

.profile-name {
  margin: 0;
  color: black;
}

.profile-contact-info {
  margin: 10px 0;
  line-height: 1.6;
}

.profile-container:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.026);
  transform: scale(1.02, 1.02);
}
