body {
  margin: 0;
  padding: 0;
  background-color: green;
}
/***************************************************************************/
/*                         CSS FOR LISTINGS PAGE                           */
/***************************************************************************/
/* Header title and nav stuff */
.listings-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 5px solid yellow;
}

/* navigation bar (Home, Contact, Contact Us)*/
.listings-nav {
  display: flex;
  gap: 20px;
}

/* Nav Bar Style*/
.listings-a {
  text-decoration: none;
  color: blue;
  padding: 10px;
}

/* Header title */
.listings-header-title {
  font-size: 2em;
  color: yellow;
}

/* Add box button*/
.listings-add-box-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Individual listing box */
.listings-box {
  border: 2px solid #333;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow cause it looks cool*/
  border-radius: 8px;
  display: inline-block; /* Makes the boxes line up in a row */
  text-align: center;
  background-color: #fff;
  color: #333;
}

/* Box content */
.listings-box-content {
  width: 250px;
  height: 250px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* Space below the listing boxes and header*/
.listings-box-list {
  padding-top: 20px;
}

/* MODAL CSS STYLE WAS TAKEN FROM YOUTUBE VIDEO. MUST REFERENCE IN FINAL PRODUCT*/
.popup-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's above other content */
}

/* Optional overlay */
.popup-form-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.listings-box-content-header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

/* .listings-box-content-name{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.listings-box-content-payment {
  display: flex;
  /* padding-bottom: 50px; */
  justify-content: center;
  align-items: center;
}

.listings-box-content-description {
  display: flex;
  /* padding-bottom: 50px; */
  justify-content: center;
  align-items: center;
}

.return-home-btn {
  padding: 3%;
  background-color: #c0bcbc68;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-color: #333;
}

:hover.return-home-btn {
  transform: scale(1.05, 1.05);
  cursor: pointer;
  color: #f0f0f0;
  background-color: rgba(78, 78, 78, 0.555);
}

.Listing-type-title {
  text-align: center;
  padding: 5%;
}
